.button-container {
    margin-top: 8rem;
}
.align-right{
    float: right;
}
.align-left{
    float: left;
}
.index-body{
    background: url("/images/bg.jpg") no-repeat;
    background-size: cover;
}
.content-body{
    background: #f7f7f7;
}
.form-width {
    width: 70%;
}
label{
    color: #000000;
 }
h3{
    color: #ffffff;
}
div{
    text-align: center;
}