extends layout

block content
  div(class='container-fluid')
    div(class='row button-container')
      div(class='col-md-6 col-sm-6 col-6')
        a(href='/setting' class='btn btn-success align-right' onclick='sayHello()') Settings
      div(class='col-md-6 col-sm-6 col-6')
        a(href='/videos' class='btn btn-success align-left') Videos
