extends layout

block content
    div(class='container-fluid form-width')
        div(class='row')
            div(class='col-md-12 col-12')
                table(class='table table-bordered table-hover form-width')
                    thead
                        tr
                            th
                                label #
                            th
                                label Title
                            th
                                label Keep it Safe
                            th
                                label Delete
                    tbody
                        each video, index in videos
                            tr
                                td
                                    label #{video.id}
                                td
                                    a(href='/videos/download/'+video.id)
                                        img(src='/videos/thumbnail/'+video.id width='auto' height='240')
                                    label #{video.title}
                                td
                                    div(class='checkbox')
                                        input(type='checkbox' checked=video.dontRemove id='dontRemove' name='dontRemove')
                                td
                                    button(class='btn btn-secondary') Delete