extends layout

block content
    div(class='container-fluid form-width')
        div(class='row')
            div(class='col-md-12 col-12')
                table(class='table table-bordered table-hover form-width')
                    thead
                        tr
                            th
                                label #
                            th
                                label Title
                            th
                                label Keep it Safe
                            th
                                label &nbsp;
                    tbody
                        each video in videos
                            tr
                                td
                                    label #{video.id}
                                td
                                    a(href='/videos/play/'+video.id)
                                        img(src='/videos/thumbnail/'+video.id width='auto' height='240')
                                    label #{video.title}
                                td
                                    if video.dontRemove
                                        a(class='btn btn-secondary' href='/videos/updateRemoveFlag/'+video.id+'/false') Ok to Remove
                                    else
                                        a(class='btn btn-primary' href='/videos/updateRemoveFlag/'+video.id+'/true') Dont Remove
                                td
                                    button(class='btn btn-secondary') Delete
                                    label &nbsp;
                                    a(href='/videos/download/'+video.id class='btn btn-primary') Download