<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Edit Settings</title>
    <link rel="stylesheet" href="/bootstrap.css">
    <link rel="stylesheet" href="/styles.css"/>
</head>
<body class="content-body">
    <div class="container-fluid form-width">
        <div class="row">
            <div class="col-md-12">
                <h3 th:text="${message}"/>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h3 th:text="'Available Storage is '+ ${availableStorage}+' %'"/>
                <a href="/cleanup" class="btn btn-secondary">Cleanup</a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <form action="#" th:action="@{/updateSetting}" th:object="${setting}" method="post">
                    <div class="form-group">
                        <label for="id">ID</label>
                        <input id="id" class="form-control" type="text" th:contenteditable="false" th:field="*{id}">
                    </div>
                    <div class="form-group">
                        <label for="raspiOptions">Video Options</label>
                        <input id="raspiOptions" class="form-control" type="text" th:field="*{videoOptions}">
                    </div>
                    <div class="form-group">
                        <label for="quality">Quality</label>
                        <select id="quality" class="form-control" th:field="*{quality}">
                            <option value="0">auto</option>
                            <option value="1">1920x1080</option>
                            <option value="5">1640x1232</option>
                            <option value="6">1280X720</option>
                            <option value="7">640x480</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="rotation">Rotation</label>
                        <select id="rotation" class="form-control" th:field="*{rotation}">
                            <option value="0">0</option>
                            <option value="90">90</option>
                            <option value="180">180</option>
                            <option value="270">270</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="metering">Metering</label>
                        <select id="metering" class="form-control" th:field="*{metering}">
                            <option value="average">average</option>
                            <option value="spot">spot</option>
                            <option value="backlit">backlit</option>
                            <option value="matrix">matrix</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="wb">Whitebalance</label>
                        <select id="wb" class="form-control" th:field="*{whitebalance}">
                            <option value="off">off</option>
                            <option value="auto">auto</option>
                            <option value="sun">sun</option>
                            <option value="cloud">cloud</option>
                            <option value="tungsten">tungsten</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="exposure">Exposure</label>
                        <select id="exposure" class="form-control" th:field="*{exposure}">
                            <option value="auto">auto</option>
                            <option value="night">night</option>
                            <option value="sports">sports</option>
                            <option value="fixedfps">fixedfps</option>
                            <option value="antishake">antishake</option>
                        </select>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" th:field="*{stabilization}"/> Stabilization
                        </label>
                        <label>
                            <input type="checkbox" th:field="*{showPreview}"/> Show Preview
                        </label>
                    </div>
                    <div class="form-group">
                        <label for="ev">EV Comp</label>
                        <select id="ev" class="form-control" th:field="*{evCompansation}">
                            <option value="-10">-10</option>
                            <option value="-9">-9</option>
                            <option value="-8">-8</option>
                            <option value="-7">-7</option>
                            <option value="-6">-6</option>
                            <option value="-5">-5</option>
                            <option value="-4">-4</option>
                            <option value="-3">-3</option>
                            <option value="-2">-2</option>
                            <option value="-1">-1</option>
                            <option value="0">0</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="dr">Dynamic Range</label>
                        <select id="dr" class="form-control" th:field="*{dynamicRange}">
                            <option value="0">off</option>
                            <option value="1">low</option>
                            <option value="2">medium</option>
                            <option value="3">high</option>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary">
                        Submit
                    </button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>