<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Raspi-Dash</title>
    <link rel="stylesheet" href="/bootstrap.css">
    <link rel="stylesheet" href="/styles.css"/>
</head>
<body class="index-body">
<div class="container-fluid">
    <div class="row button-container">
        <div class="col-md-6 col-sm-6 col-6">
            <a href="/setting" class="btn btn-success align-right">
                Settings
            </a>
        </div>
        <div class="col-md-6 col-sm-6 col-6">
            <a href="/videos/0" class="btn btn-success">
                Videos
            </a>
        </div>
    </div>
</div>
</body>
</html>